p {
    color:black;
    font-family:'Times New Roman', Times, serif;
    size: 20px
}

h1 {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 50px
}

h3 {
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size:40px;
}

h5 {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size:30px;
}

h7 {
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size:15px
}