h1 {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 50px;
    background-color:magenta;
}

h3 {
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size:40px;
}

h5 {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size:30px;
}

song {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    size: 20px;
}

songz {
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 20px;
}

songf {
    color:darkslategrey;
    font-family: 'Courier New', Courier, monospace;
    size:20px;
}


direction {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size:25px;
}
direction::before {
    content: "\a";
    white-space: pre;
}

speech {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    size:20px;
}

zara
{
    color:Pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size:25px
}
zara::before{
    content: "\a";
    white-space: pre;
}

fitz
{
    content: "\a";
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size:25px;
}
fitz::before{
    content: "\a";
    white-space: pre;
}

king
{
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size:25px;
}
king::before{
    content:"\a";
    white-space:pre;
}

both
{
    content: "\a";
    color:magenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size:25px;
}
both::before{
    content:"\a";
    white-space: pre;
}

table, th, td {
    border:2px solid;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size:27px;
    padding-top:75px;
    padding-left:13px;
    padding-right:33px;
    padding-bottom:1px;
    margin-top:50px;
    margin-left:150px;
}
tr:nth-child(even)
{
    background-color:aquamarine;
}
tr:nth-child(odd)
{
    background-color:fuchsia;
}

th{
    color: yellow;
    background-color: brown;
}
td{
    color:red;
}

body{
    background-color: grey;
}